<p>
  products works!
</p>
<span>{{productId}}</span>

<div>Сортировка: {{sort}}</div>
<div>Дата и время создания первого элемента в выборке: {{timestamp}}</div>
<div>Отступ: {{offset}}</div>
<div>Количество на странице: {{amount}}</div>

<router-outlet></router-outlet>